---

---

<section
  id="contactos"
  class="w-full min-[1279px]:w-[1280px] px-4 m-auto lg:py-28 py-20"
>
  <h5 class="special_font lg:text-4xl text-2xl">
    Contáctenos con <span class="text-secondary">Nosotros</span> con nuestro <span
      class="text-secondary">Delivery</span
    >
  </h5>
  <h5 class="special_font lg:text-3xl text-xl">
    <span class="text-secondary">Promociones</span> Especiales a <span class="text-secondary">Empresas</span>
  </h5>
  <p class="mb-5 lg:text-lg text-base text-white/80">
    ¡Disfruta de nuestro servicio de delivery gratis en Los Olivos! En nuestra
    sección de delivery, te ofrecemos la comodidad de recibir tus platos
    favoritos directamente en la puerta de tu casa sin costo adicional. ¿Antojo
    de nuestro delicioso pollo a la brasa, jugosas parrillas o algún otro plato
    de nuestra carta? ¡No hay problema! Simplemente comunícate con nosotros a
    través de los siguientes números para agendar tu delivery y deleitarte con
    nuestros productos sin tener que salir de casa:
  </p>
  <div class="lg:w-[1024px]">
    <ul class="flex flex-col gap-4">
      <li>
        <div class="flex flex-col flex-wrap gap-x-4 gap-y-1">
          <strong>Los Olivos</strong>
          <div class="flex items-center gap-4">
            <a
              target="_blank"
              class="flex gap-1 hover:underline"
              href="https://wa.me/+51959976229?text=¡Hola! Estoy interesado en comprar algo de tu pollería. ¿Podrías ayudarme con más información?"
              ><img
                width="25"
                height="25"
                src="/whatsapp.png"
                alt="logo de whatsapp de Pollos a la Brasa y Parrillas Andrea"
              /> 959976229</a
            >
            <a
              target="_blank"
              class="flex gap-1 hover:underline"
              href="tel:014695018"
            >
              <img width="25" height="25" src="/llamada.png" alt="" />01 4695018
            </a>
          </div>
        </div>
      </li>
      <li>
        <div class="flex flex-wrap flex-col gap-x-4 gap-y-1">
          <strong>Callao</strong>
          <div class="flex items-center gap-4">
            <a
              target="_blank"
              class="flex gap-1 hover:underline"
              href="https://wa.me/+51979212828?text=¡Hola! Estoy interesado en comprar algo de tu pollería. ¿Podrías ayudarme con más información?"
              ><img
                width="25"
                height="25"
                src="/whatsapp.png"
                alt="logo de whatsapp de Pollos a la Brasa y Parrillas Andrea"
              /> 979212828</a
            >
            <a
              target="_blank"
              class="flex gap-1 hover:underline"
              href="tel:013598226"
            >
              <img width="25" height="25" src="/llamada.png" alt="" />01 3598226
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
