---
import img from '../../public/pollos/pollo_cuarto.webp'
---

<section
  id="promotion"
  class="w-full min-[1279px]:w-[1280px] m-auto relative h-auto flex justify-center items-center p-4 z-10 flex-col rounded-lg"
  style="box-shadow: 0px 5px 20px -3px #1f1c1a;"
>
  <h3 class="special_font lg:text-3xl text-2xl text-center">
    PROMOCIÓN ESPECIAL <span class="text-secondary">DÍA DE LA MADRE</span>
  </h3>
  <h4 class="special_font lg:text-3xl text-2xl text-secondary mb-5">
    1/4 de pollo a S/13 
  </h4>
  <div class="flex lg:flex-row flex-col gap-5">
    <div class="lg:w-9/12 w-full flex justify-center flex-col lg:text-lg text-base gap-3">
      <p>¡Este Día de la Madre, celebra con una oferta especial!</p>
      <p>
        Durante todo el mes de mayo, hasta las 6:00 pm, disfruta de un delicioso <span
          class="text-secondary">1/4 de pollo por solo S/13</span
        >. Porque mamá se merece lo mejor, te traemos esta increíble promoción
        para que puedas compartir momentos inolvidables con ella.
      </p>
      <p>
        Ya sea para una comida familiar, una salida con amigos o un regalo para
        mamá, nuestro pollo a la parrilla es la elección perfecta. No te pierdas
        esta oportunidad de disfrutar de nuestros sabrosos platillos a un precio
        inigualable.
      </p>
      <p class="text-pretty">
        <span class="text-secondary"
          >Recuerda, esta oferta especial está disponible solo hasta las 6:00 pm</span
        >, ¡así que planea tu visita con tiempo y haz que todo el mes de mayo
        sea una celebración para mamá! ¡Te esperamos para compartir momentos
        deliciosos con nosotros!
      </p>
    </div>
    <picture class="relative lg:w-3/12 w-full">
      <img
        class="w-full h-full object-contain"
        src={img.src}
        width="350"
        height="350"
        alt=""
      />
    </picture>
  </div>
</section>

