---

---

<section id="nosotros" class="max-w-screen-xl h-auto m-auto flex md:flex-row flex-col gap-10 items-center py-28 px-4">
  <div class="md:w-3/6 w-full flex flex-col gap-3">
    <h6 class="special_font lg:text-4xl text-2xl text-white text-center">Nosotros</h6>
    <p class=" text-white/80 lg:text-lg text-xs">
      ¡Bienvenido a "Pollos a la Brasa y Parrillas Andrea"! Somos más que una
      simple pollería, somos un destino gastronómico que te invita a deleitarte
      con sabores auténticos y una atención excepcional. Con más de una década
      de historia en el mismo lugar, nos enorgullecemos de ofrecer una
      experiencia culinaria única que combina la tradición del pollo a la brasa
      con una amplia variedad de platos a la carta y parrillas.
    </p>
    <p class=" text-white/80 lg:text-lg text-xs">
      Te invitamos a que vengas y disfrutes de nuestros deliciosos sabores en un
      ambiente acogedor y familiar. Desde celebraciones especiales hasta
      reuniones informales, nuestras instalaciones están diseñadas para
      ofrecerte momentos inolvidables junto a tus seres queridos.
    </p>
    <p class=" text-white/80 lg:text-lg text-xs">
      En "Pollos a la Brasa y Parrillas Andrea", la satisfacción del cliente es
      nuestra prioridad. Nuestro equipo está comprometido en brindarte una
      experiencia gastronómica excepcional, donde cada plato está preparado con
      amor y cuidado.
    </p>
    <p class=" text-white/80 lg:text-lg text-xs">
      ¡Ven y descubre por qué somos el lugar ideal para una experiencia
      culinaria auténtica y memorable! Te esperamos con los brazos abiertos para
      que disfrutes de una comida inolvidable en nuestra pollería.
    </p>
  </div>
  <div class="md:w-3/6 w-full h-full">
    <iframe class="w-full" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3902.972075195881!2d-77.08261441314232!3d-11.976434089427165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105ce6b34fada07%3A0x8d4191f4620a6e03!2sPollos%20Andrea!5e0!3m2!1ses!2spe!4v1712359322952!5m2!1ses!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" title="Localisación de la Pollería y Parrillas Andres" ></iframe>
  </div>
</section>
